.col-md-6, .col-md-4 {
  margin-top: 13vw;
  margin-left: 22vw;
  padding: 4vw;
  border: 4px solid silver;
  width: 6vw;
  background-color: GainsBoro;
}

.jumbotron {
  text-align: center;
  font-size: 3vw;
  color: purple;
}

#output {
width: 20vw;
display: inline;
font-size: 1vw;
padding: 4px;
border: 4px solid grey;
}

body {
  background-color: rgb(255, 0, 221);
  height: 80%;
}


