.col-md-6, .col-md-4, .col-md-8 {
  margin-top: 1vw;
  margin-left: 18vw;
  padding: 4vw;
  border: 4px solid silver;
  width: 6vw;
  background-color: GainsBoro;
  overflow: auto;
}

.jumbotron {
  text-align: center;
  font-size: 3vw;
  color: purple;
  font-family: 'Pacifico', cursive;
}

#output {
width: 45vw;
height: 7vw;
display: inline;
font-size: 15px;
font-weight: bolder;
padding: 4px;
border: 4px;
bottom:1vw;
white-space: normal;
position: absolute;
overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

#output-player {
  width: 20vw;
  display: inline;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Pacifico', cursive;
  padding: 4px;
  border: 4px;
  white-space: normal;
}

body {
  background-color: rgb(255, 0, 221);
  height: 80%;
}

/* 
display: flex;
font-size: 32px;
color: red;
width: 33vw;
top: 17vw;
right: 33vw;
position:absolute;
height: 15vw;
white-space: normal;
overflow: scroll;
font-family: 'Monoton', cursive; */